.main {
  display: flex;
  margin-right: 10;
  flex-wrap: wrap;
}
.brand {
  display: flex;
  align-items: center;
  margin: 20px;
}

.image {
  width: 100px;
  height: 20px;
}
.main ul {
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.log-signup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.after-log {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.after-log img {
  margin-right: 10px;
}
